<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
   <display-name>periodical</display-name>
   <welcome-file-list>
   	 <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
 <servlet>
    <servlet-name>PeriodicalListServlet</servlet-name>
    <servlet-class>ua.com.periodical.servlet.PeriodicalListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeriodicalListServlet</servlet-name>
    <url-pattern>/periodicalList</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>ua.com.periodical.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/addToList</url-pattern>
  </servlet-mapping>
  

</web-app>